<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Testing Assignmet/src/TS_lession_3/Ex2_DefaultValue.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TS_lession_3.Ex2_DefaultValue"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Testing Assignmet"/>
</launchConfiguration>
